<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Inchoo_TicketMe>
            <version>1.0.0.0</version>
        </Inchoo_TicketMe>
    </modules>
    <global>
        <helpers>
            <inchoo_ticketme>
                <class>Inchoo_TicketMe_Helper</class>
            </inchoo_ticketme>
        </helpers>
        <events>
            <inchoo_tickets_ticket_save_after>
                <observers>
                    <inchoo_ticketme>
                        <class>Inchoo_TicketMe_Model_Observer</class>
                        <method>send</method>
                    </inchoo_ticketme>
                </observers>
            </inchoo_tickets_ticket_save_after>
        </events>
        <template>
            <email>
                <inchoo_ticketme_new_ticket_admin_email_template translate="label">
                    <label>Admin Ticket</label>
                    <file>inchoo/admin_ticket.html</file>
                    <type>html</type>
                </inchoo_ticketme_new_ticket_admin_email_template>
            </email>
        </template>
    </global>
    <default>
        <inchoo_ticketme>
            <ticket>
                <status>1</status>
                <template>inchoo_ticketme_new_ticket_admin_email_template</template>
                <email><![CDATA[admin@example.com]]></email>
            </ticket>
        </inchoo_ticketme>
    </default>
</config>