/*
!/app
/app/*
!/app/code
/app/code/*
!/app/code/local
/app/code/local/*
!/app/code/local/Inchoo
/app/code/local/Inchoo/*
!/app/code/local/Inchoo/Tickets
!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Inchoo_Tickets.xml
!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/base
/app/design/frontend/base/*
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/tickets.xml
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/inchoo
!/app/skin
/app/skin/*
!/app/skin/Inchoo
!.gitignore

