<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Inchoo_Tickets>
            <version>1.0.0.0</version>
        </Inchoo_Tickets>
    </modules>
    <frontend>
        <routers>
            <inchoo_tickets>
                <use>standard</use>
                <args>
                    <module>Inchoo_Tickets</module>
                    <frontName>tickets</frontName>
                </args>
            </inchoo_tickets>
        </routers>
        <layout>
            <updates>
                <inchoo_tickets>
                    <file>inchoo/tickets.xml</file>
                </inchoo_tickets>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Helper</class>
            </inchoo_tickets>
        </helpers>
        <models>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Model</class>
                <resourceModel>inchoo_tickets_resource</resourceModel>
            </inchoo_tickets>
            <inchoo_tickets_resource>
                <class>Inchoo_Tickets_Model_Resource</class>
                <entities>
                    <tickets>
                        <table>inchoo_tickets_tickets</table>
                    </tickets>
                    <messages>
                        <table>inchoo_tickets_messages</table>
                    </messages>
                </entities>
            </inchoo_tickets_resource>
        </models>
        <blocks>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Block</class>
            </inchoo_tickets>
        </blocks>
        <resources>
            <inchoo_tickets_setup>
                <setup>
                    <module>Inchoo_Tickets</module>
                </setup>
            </inchoo_tickets_setup>
        </resources>
    </global>
</config>